body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #222;
  transition: 0.3s ease;
}

body.dark {
  background: #121212;
  color: #eaeaea;
}

#darkModeBtn {
  background: #333;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px;
}

#darkModeBtn:hover {
  background: #000;
}

.container {
  width: 85%;
  margin: auto;
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.msg {
  background: #ffdddd;
  border-left: 4px solid red;
  padding: 10px;
  margin: 20px 0;
  font-weight: bold;
  border-radius: 6px;
}

body.dark .msg {
  background: #662222;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.photo {
  background: white;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 4px #ccc;
}

body.dark .photo {
  background: #1f1f1f;
  box-shadow: 0 0 4px #000;
}

.photo img {
  width: 100%;
  border-radius: 8px;
}
